/* 
  Style your elements by creating CSS classes here.
  Below, you can see an example of a class called "menu" that changes the color of the text to blue. Modify according to your needs.
*/

.menu {
  color: blue;
}

.button{
    border-radius: 40%;
    size: 10px;
    background-color:lightgray;
    margin: 0 5px;
  }

.button-group {
  display:flex;
  align-items: center;
}

.price-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuTitle{
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight:100%;
  color:black;
}

.centerIt{
  align-items:center;
  justify-content: center;
}

.menuDesc{
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight:50%;
  color:blue;
  text-wrap: 100;
}

img{
  object-fit: cover;
  max-width:60%;
  min-width:5%;
}

.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.subtotal {
  margin-left: 20px; 
}

.logoImg{
  max-width:50%;
}

.price-add{
  display:flex;
}

.menu-price{
  margin:10%;
}

.centered {
  display: grid;
  place-items: center;
  height: 100vh; 
}


.desc1{
  color:orange;
  font-family:Brush Script MT, Brush Script Std, cursive;
  margin-left:25%;
}

.desc2{
  margin-left:10%;
}
.menu-item {
  display: flex;
  flex-wrap: wrap;
}

.content-column {
  flex: 1;
}

.image-column {
  flex: 1;
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex-grow: 1;
}